.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.nav {
    height: 7%;
}
.bottom-row {
    flex-grow: 1;
    height: 100%;
}
.height100 {
    height: 100%;
}
.right-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    //text-align: center;
}
.right-content>:global(.ant-row) {
    text-align: center;
    width: 100%;
}
.avatar {
    height: 80px;
}
.right-middle {
    display: flex;
    flex-direction: column;
}
.right-middle :global(.ant-row) {

}
.left-nav {
    padding: 40px 30px;
    text-align: center;
    height: 100%;
    background-color: lightgrey;
}
.left-nav :global(.ant-btn) {
    margin-top: 15px;
}
.left-nav img {
    width: 100%;
    max-height: 120px;
}