.top {

}
.avatar {
    height: 100px;
    width: 100px;

}
.img {
    width: 50px;
    height: 50px;
}
.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.bottom-content {
    margin-top: 300px;
}
.item-body {
    text-align: center;
}