.wrapper {
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 35px;
}
.img {
    width: 100%;
    height: 180px;
}
.more-icon {
    position: absolute;
    right: 5px;
    top: 0;
    background-color: black;
    opacity: 0.4;
    color: #ffffff;
    font-size: 1.5rem;
    display: none;
}
.wrapper:hover .more-icon {
    display: block;
}
.edit-input-tag {
    width: 50px;

}
.photo-list {
    max-height: 600px;
    overflow: auto;
}
