.form {
    position: absolute;
    left: 10%;
    top: 10%;
}
.body {
    background-image: url("http://jueinin.oss-cn-hongkong.aliyuncs.com/photo/bg.jpg");
    height: 100vh;
    background-size: cover;
}
.inner-form {
    padding: 35px;
    background-image: url("http://jueinin.oss-cn-hongkong.aliyuncs.com/photo/u42.png");
    background-size: cover;
    width: 350px;
}
.form-bottom {
    margin-top: 30px;
    height: 25px;
}
