.text-center {
    text-align: center;

}
.form {
    width: 20vw;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: whitesmoke;
    padding: 30px;
}
.text-right {
    text-align: right;
}
.body {
    height: 100vh;
    width: 100vw;
    background-image: url("http://jueinin.oss-cn-hongkong.aliyuncs.com/smart-album/%E7%99%BB%E5%BD%95%E8%83%8C%E6%99%AF%E5%9B%BE.jpg");
    background-size: cover;
}