.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 40vh;
}
.body {
    height: 100vh;
}
.form :global(.ant-form-item-children) {
    display: flex;
}
.get-code {
    width: 110px;
}