.body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
    flex-wrap: wrap;
}
.margin-left {
    margin-left: 25px;
}
.bottom-body-button {
    display: flex;
}
