.avatar-img {
    border-radius: 50%;
    height: 100%;
    width: 50px;

}
.avatar-link {
    height: 100%;
    color: #000;
}
.nav-buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signature {
    overflow: hidden;
    text-overflow: ellipsis;
}